[submodule "presets"]
	path = pollers/presets
	url = https://github.com/sportarchive/CloudTranscode-FFMpeg-presets.git
[submodule "decider"]
	path = decider
	url = https://github.com/sportarchive/CloudTranscode-Decider
