[submodule "presets"]
	path = presets
	url = https://github.com/sportarchive/CloudTranscode-FFMpeg-presets.git
[submodule "src/decider"]
	path = src/decider
	url = https://github.com/sportarchive/CloudTranscode-Decider
