# Ignore the local config
#config/awsConfig.json
#config/cloudTranscodeConfig.json
#client_example/clientConfig.json

# Ignore vendor tree
vendor/*
composer.phar
composer.lock

# Ignore any build output
build/*
