# Ignore the local config
poller/config/awsConfig.json
poller/config/cloudTranscodeConfig.json
client_example/clientConfig.json

# Vagrant
.vagrant

# Ignore vendor tree
pollers/vendor/*
client_example/vendor/*
composer.phar
composer.lock

# Ignore any build output
build/*
